{%- comment -%}
Love&Co Theme
Description:
Snippet for displaying link with arrow icon

Variables:
- left_icon: Boolean, is it arrow left?
- url: Link url
- text_class: Additional text classes
- border_class: Border color class
- label: Link label
- icon_svg: SVG code for icon 
- icon_image: Icon Image 
- icon_width: Icon Width 
- icon_height: Icon Height 
- id: identifier, no spacing no #
{%- endcomment -%} 

{%- if load_inside_vue -%}
    <component :is="'style'" type="text/css">
{%- else -%}
    <style>
{%- endif -%}
    #{{id}}.link-icon svg * {
        stroke: {{icon_color}} !important;
    }
    #{{id}}.link-icon:hover svg * {
        stroke: {{icon_color_hover}} !important;
    }
    #{{id}}.link-icon:hover,
    #{{id}}.link-icon:hover * {
        color: {{icon_color_hover}};
        transition: color .3s ease; 
    }
    #{{id}}.link-icon .icon,
    #{{id}}.link-icon .icon svg {
        {% if icon_width != blank %}
            width: {{icon_width}}px;
        {% endif %}
        {% if icon_height != blank %}
            height: {{icon_height}}px;
        {% endif %}
    }
{%- if load_inside_vue -%}
    </component>
{%- else -%}
    </style>
{%- endif -%}

{%- if left_icon == blank -%}
    {%- if url == blank -%}
        <div id="{{id}}" class="link-icon {{ border_class }} {{ additional_classes }} "><span class="text mr-8 {{ text_class }}">{{ label }}</span> <span class="icon">{% if icon_image != blank %}
            {%- render 'global-image-wrapper',
                image: icon_image,
                additional_class: 'no-bg'
            %}
            {% else %}
            {{icon_svg}}
            {% endif %}</span></div>
    {%- else -%}
        <a id="{{id}}" {% if target != blank %}target="{{ target }}"{% endif %} {{ event }} href="{{ url }}" class="link-icon {{ border_class }} {{ additional_classes }}"><span class="text mr-8 {{ text_class }}">{{ label }}</span> <span class="icon">{% if icon_image != blank %}
            {%- render 'global-image-wrapper',
                image: icon_image,
                additional_class: 'no-bg'
            %}
            {% else %}
            {{icon_svg}}
            {% endif %}</span></a>
    {%- endif -%}
{%- else -%}
    {%- if url == blank -%}
        <div id="{{id}}" class="link-icon link-icon--left {{ border_class }} {{ additional_classes }}">
            <span class="icon mr-8">
                {% if icon_image != blank %}
                {%- render 'global-image-wrapper',
                    image: icon_image,
                    additional_class: 'no-bg'
                %}
                {% else %}
                {{icon_svg}}
                {% endif %}
            </span> 
            <span class="text {{ text_class }}">{{ label }}</span>
        </div>
    {%- else -%}
        <a id="{{id}}" {% if target != blank %}target="{{ target }}"{% endif %} href="{{ url }}" class="link-icon link-icon--left {{ border_class }} {{ additional_classes }}">
            <span class="icon mr-8">
                {% if icon_image != blank %}
                {%- render 'global-image-wrapper',
                    image: icon_image,
                    additional_class: 'no-bg'
                %}
                {% else %}
                {{icon_svg}}
                {% endif %}
            </span> 
            <span class="text {{ text_class }}">{{ label }}</span>
        </a>
    {%- endif -%}
{%- endif -%}