{% comment %} luxlexicon {% endcomment %}
{% assign el_id = 'shopify-section-' | append: section.id %}
{% assign ss = section.settings %}
{% render 'section-padding', section: section, el_id: el_id %}

<style>
  #{{el_id}} .about-team-title {
    width: 100%;
  }
  @media screen and (min-width: 1024px) {
    #{{el_id}} .about-team-title {
      {% if ss.title_max_width != blank %}
        max-width: {{ ss.title_max_width }}px;
      {% endif %}
    }
  }
</style>

<div class="about-team">
  <div class="container">
    <div class="global-flex flex-wrap">
      <div class="col-12 col-d-8 push-d-2 tc d-p-0 pb-56 d-pb-0">
        {%- if ss.title != blank -%}
          <{{ ss.title_dom_type }} class="{{ ss.title_size }} about-team-title">
            {{- ss.title | newline_to_br -}}
          </{{ ss.title_dom_type }}>
        {%- endif -%}
      </div>
      <div class="w-full pt-24 d-pt-52">
        <div class="row">
          {%- for block in section.blocks -%}
            <div class="col-6 col-d-3 about-team-each mt-32 d-mt-48">
              {% assign image_id = 'lux_about_us_' | append: block.id %}
              {%- render 'global-image-wrapper-responsive',
                image_id: image_id,
                desktop_image: block.settings.photo_desktop,
                mobile_image: block.settings.photo_mobile,
                additional_class: 'no-bg'
              %}
              {%- if block.settings.name != blank -%}
                <p class="h3 pt-12 d-pt-16">{{ block.settings.name }}</p>
              {%- endif -%}
              {%- if block.settings.role != blank -%}
                <p class="p2 pt-4 c-grey60">{{ block.settings.role }}</p>
              {%- endif -%}
            </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>
<script></script>

{% schema %}
{
  "name": "About - Team",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "select",
      "id": "top_padding_m",
      "label": "Top padding (Mobile)",
      "options": [
        { "value": "nopadding", "label": "No padding" },
        { "value": "small", "label": "Small" },
        { "value": "medium", "label": "Medium" },
        { "value": "large", "label": "Large" }
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "bottom_padding_m",
      "label": "Bottom padding (Mobile)",
      "options": [
        { "value": "nopadding", "label": "No padding" },
        { "value": "small", "label": "Small" },
        { "value": "medium", "label": "Medium" },
        { "value": "large", "label": "Large" }
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "top_padding_t",
      "label": "Top padding (Tablet)",
      "options": [
        { "value": "nopadding", "label": "No padding" },
        { "value": "small", "label": "Small" },
        { "value": "medium", "label": "Medium" },
        { "value": "large", "label": "Large" }
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "bottom_padding_t",
      "label": "Bottom padding (Tablet)",
      "options": [
        { "value": "nopadding", "label": "No padding" },
        { "value": "small", "label": "Small" },
        { "value": "medium", "label": "Medium" },
        { "value": "large", "label": "Large" }
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "top_padding",
      "label": "Top padding (Desktop)",
      "options": [
        { "value": "nopadding", "label": "No padding" },
        { "value": "small", "label": "Small" },
        { "value": "medium", "label": "Medium" },
        { "value": "large", "label": "Large" }
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "bottom_padding",
      "label": "Bottom padding (Desktop)",
      "options": [
        { "value": "nopadding", "label": "No padding" },
        { "value": "small", "label": "Small" },
        { "value": "medium", "label": "Medium" },
        { "value": "large", "label": "Large" }
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "top_padding_hd",
      "label": "Top padding (HD)",
      "options": [
        { "value": "nopadding", "label": "No padding" },
        { "value": "small", "label": "Small" },
        { "value": "medium", "label": "Medium" },
        { "value": "large", "label": "Large" }
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "bottom_padding_hd",
      "label": "Bottom padding (HD)",
      "options": [
        { "value": "nopadding", "label": "No padding" },
        { "value": "small", "label": "Small" },
        { "value": "medium", "label": "Medium" },
        { "value": "large", "label": "Large" }
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "top_padding_hhd",
      "label": "Top padding (HHD)",
      "options": [
        { "value": "nopadding", "label": "No padding" },
        { "value": "small", "label": "Small" },
        { "value": "medium", "label": "Medium" },
        { "value": "large", "label": "Large" }
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "bottom_padding_hhd",
      "label": "Bottom padding (HHD)",
      "options": [
        { "value": "nopadding", "label": "No padding" },
        { "value": "small", "label": "Small" },
        { "value": "medium", "label": "Medium" },
        { "value": "large", "label": "Large" }
      ],
      "default": "medium"
    },
    {
      "type": "header",
      "content": "General Padding"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "select",
      "id": "title_size",
      "label": "Title Size",
      "options": [
        { "value": "h1", "label": "H1" },
        { "value": "h2", "label": "H2" },
        { "value": "h3", "label": "H3" },
        { "value": "h4", "label": "H4" },
        { "value": "p1", "label": "P1" },
        { "value": "p2", "label": "P2" }
      ]
    },
    {
      "type": "select",
      "id": "title_dom_type",
      "label": "Title DOM Type",
      "options": [
        { "value": "h1", "label": "H1" },
        { "value": "h2", "label": "H2" },
        { "value": "h3", "label": "H3" },
        { "value": "h4", "label": "H4" }
      ]
    },
    {
      "type": "text",
      "id": "title_max_width",
      "label": "Title max width desktop"
    }
  ],
  "blocks": [
    {
      "type": "entry",
      "name": "Entry",
      "settings": [
        {
          "type": "image_picker",
          "id": "photo_desktop",
          "label": "Photo desktop"
        },
        {
          "type": "image_picker",
          "id": "photo_mobile",
          "label": "Photo mobile"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        },
        {
          "type": "text",
          "id": "role",
          "label": "Role"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "About - Team"
    }
  ]
}
{% endschema %}
