{% comment %} IGC - Yudi {% endcomment %}
{%- assign el_id = 'change-password-' | append: section.id -%}
{%- render 'section-padding', el_id: el_id, section: section -%}
<style>
  #{{el_id}} .account-menu {
    flex-direction: row;
  }
  #{{el_id}} .b-transparent {
    border-color: transparent;
  }
  #{{el_id}} .account-menu-mobile {
    margin-left: -20px;
    margin-right: -20px;
  }
  #{{el_id}} .account-info {
    flex-direction: row;
    justify-content: space-between;
  }
  #{{el_id}} .poo-mobile > div div > div {
    width: 30%;
  }
  #{{el_id}} .icon-back {
    margin-top: -4px;
  }
  #{{el_id}} .icon-back,
  #{{el_id}} .icon-back svg {
    width: 10px;
    height: 10px;
  }
  #{{el_id}} .ln-image {
    width: 55px;
  }
  #{{el_id}} .table-online-order-details td {
    vertical-align: top;
  }
  @media screen and (min-width: 1024px) {
    #{{el_id}} .icon-back {
      margin-top: -5px;
    }
    #{{el_id}} .account-info {
      flex-direction: column;
      justify-content: unset;
    }
    #{{el_id}} .account-menu-mobile {
      margin-left: 0px;
      margin-right: 0px;
    }
    #{{el_id}} .account-menu {
      flex-direction: column;
    }
    #{{el_id}} .ln-image {
      width: 60px;
    }
  }
</style>
<div id="{{ el_id }}">
  <div class="container">
    <div class="row">
      <div class="col-d-3 col-12">
        <h1 class="h2 medium-500">
          Welcome, {{ customer.first_name }}
          {{ customer.last_name }}
        </h1>
        <div class="account-info flex">
          <div class="p1 c-grey d-mb-30">Current Tier: Customer</div>
          <a href="/account/logout" class="p1 c-grey">Log Out</a>
        </div>
      </div>
      <div class="col-d-3 col-12 mt-30 d-mt-0 link-box show-d">
        <ul class="account-menu d-flex hide-m">
          <li class="mr-20 d-mr-0">
            <a href="#form-change-password" rel="nofollow" class="am-link pb-3 h4 bb-1 b-black uppercase" onclick="changePage('form-change-password',event)">ACCOUNT INFO</a>
          </li>
          <li class="d-mt-15">
            <a href="#" rel="nofollow" class="am-link hover-underline h4 uppercase">VOUCHERS</a>
          </li>
          <li class="d-mt-15">
            <a href="#page-offline-order" rel="nofollow" class="am-link hover-underline h4 uppercase" onclick="changePage('page-offline-order',event)">OFFLINE ORDERS</a>
          </li>
          <li class="d-mt-15">
            <a href="#page-online-order" rel="nofollow" class="am-link hover-underline h4 uppercase" onclick="changePage('page-online-order',event)">ONLINE ORDERS</a>
          </li>
          <li class="d-mt-15">
            <a href="#" rel="nofollow" class="am-link hover-underline h4 uppercase">ADDRESS BOOK</a>
          </li>
          <li class="d-mt-15">
            <a href="#" rel="nofollow" class="am-link hover-underline h4 uppercase">WISHLIST</a>
          </li>
        </ul>
        <div class="hide-d account-menu-mobile">
          {%- assign select_id = 'account-menu-' | append: section.id -%}
          {% assign default_text = 'ACCOUNT INFO' %}
          {% assign option_values = 'form-change-password,#,page-offline-order,page-online-order,#,#' %}
          {% assign values = 'ACCOUNT INFO,VOUCHERS,OFFLINE ORDERS,ONLINE ORDERS,ADDRESS BOOK,WISHLIST' %}
          {% assign values = values | split: ',' %}
          {% assign option_values = option_values | split: ',' %}
          {%- render 'global-select',
            default_value: '',
            default_text: default_text,
            values: values,
            option_values: option_values,
            id: select_id,
            selected_text_class: 'h4 c-black medium-500',
            label_class: 'p1',
            select_icon: 'caret',
            onchange: 'changePage(this.value,event);'
            anchor: '',
            global_select_class: 'pt-20 pb-20 pl-20 pr-20 b-border bt-1 bb-1'
          -%}
        </div>
      </div>
      <div class="col-d-5 col-12 col-hd-4 col-hhd-3 mt-30 d-mt-0">
        <div id="form-change-password" class="account-page">
          {%- form 'reset_customer_password', id: 'reset-password-form' -%}
            <div class="p1 medium-500">
              After changing your current password, you will be logged out and be required to login again.
            </div>
            <div class="w-full mt-30">
              <input
                type="password"
                name="customer[password_old]"
                id="password_old"
                class="global-input w-full bb-1 b-black p1 c-black"
                placeholder="{{ 'customer.change_password.old_password' | t }}"
                onkeyup="validate(event)"
              >
              <div class="p5 c-red hide-m error error-password-old"></div>
            </div>
            <div class="w-full mt-20 mb-10">
              <input
                type="password"
                name="customer[password]"
                id="password"
                class="global-input w-full bb-1 b-black p1 c-black"
                placeholder="{{ 'customer.change_password.password' | t }}"
                onkeyup="validate(event)"
              >
              <div class="p5 c-red hide-m error error-password"></div>
            </div>
            <div class="w-full mt-20 mb-10">
              <input
                type="password"
                name="customer[password_confirmation]"
                id="password_confirmation"
                class="global-input w-full bb-1 b-black p1 c-black"
                placeholder="{{ 'customer.change_password.repeat_password' | t }}"
                onkeyup="validate(event)"
              >
              <div class="p5 c-red hide-m error error-password-confirmation"></div>
            </div>
            <button type="button" class="mt-25 d-mt-30 btn1 w-full submit-btn" onclick="validate(event,true)">{{ 'customer.change_password.submit' | t }}</button>
          {%- endform -%}
        </div>
        <div id="page-online-order" class="account-page hide-m">
          <div class="poo-desktop hide-m show-d">
            <div class="p1">Click on the order number to view details of your order.</div>
            <table class="d-mt-30 w-full">
              <thead>
                <tr class="">
                  <th class="tl p2 d-pb-20">Order No .</th>
                  <th class="tl p2 d-pb-20">Date</th>
                  <th class="tl p2 d-pb-20">Order Value</th>
                  <th class="tl p2 d-pb-20">Status</th>
                </tr>
              </thead>
              <tbody>
                {% for order in customer.orders limit:account-orders %}
                <tr class="">
                  <td class="p2 d-pt-20 d-pb-20 bt-1 b-border">
                    <a href="{{ order.customer_url }}" class="link3" onclick="changePage('page-online-order-details',event)">
                      {{ order.name }}
                    </a>
                  </td>
                  <td class="p2 d-pt-20 d-pb-20 bt-1 b-border">{{ order.created_at | date: "%d %b %Y" }}</td>
                  <td class="p2 d-pt-20 d-pb-20 bt-1 b-border">{{ order.total_price | money_with_currency }}</td>
                  <td class="p2 d-pt-20 d-pb-20 bt-1 b-border">{{ order.financial_status | camelcase }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="poo-mobile hide-d">
            {% for order in customer.orders limit:account-orders %}
            <div class="pb-20 mb-20 bb-1 b-border">
              <div class="flex ai-center">
                <div class="p2">Order number</div>
                <div class="p2">
                  <a href="{{ order.customer_url }}" class="link3" onclick="changePage('page-online-order-details',event)">{{ order.name }}</a>
                </div>
              </div>
              <div class="flex ai-center mt-13">
                <div class="p2">Date</div>
                <div class="p2">
                  {{ order.created_at | date: "%d %b %Y" }}
                </div>
              </div>
              <div class="flex ai-center mt-13">
                <div class="p2">Order Value</div>
                <div class="p2">
                  {{ order.total_price | money_with_currency }}
                </div>
              </div>
              <div class="flex ai-center mt-13">
                <div class="p2">Status</div>
                <div class="p2">
                  {{ order.financial_status | camelcase }}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div id="page-offline-order" class="account-page hide-m">
          <div class="poo-desktop hide-m show-d">
            <div class="p1">Click on the order number to view details of your order.</div>
            <table class="d-mt-30 w-full">
              <thead>
                <tr class="">
                  <th class="tl p2 d-pb-20">Order No .</th>
                  <th class="tl p2 d-pb-20">Date</th>
                  <th class="tl p2 d-pb-20">Order Value</th>
                  <th class="tl p2 d-pb-20">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr class="">
                  <td class="p2 d-pt-20 d-pb-20 bt-1 b-border">
                    <a href="#page-offline-order-details" class="link3" onclick="changePage('page-offline-order-details',event)">
                      T01S0029302
                    </a>
                  </td>
                  <td class="p2 d-pt-20 d-pb-20 bt-1 b-border">22-Feb-2023</td>
                  <td class="p2 d-pt-20 d-pb-20 bt-1 b-border">S$179</td>
                  <td class="p2 d-pt-20 d-pb-20 bt-1 b-border">Returned</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="poo-mobile hide-d">
            <div class="pb-20 bb-1 b-border">
              <div class="flex ai-center">
                <div class="p2">Order number</div>
                <div class="p2">
                  <a href="#page-offline-order-details" class="link3" onclick="changePage('page-offline-order-details',event)">T01S0029302</a>
                </div>
              </div>
              <div class="flex ai-center mt-13">
                <div class="p2">Date</div>
                <div class="p2">
                  22-Feb-2023
                </div>
              </div>
              <div class="flex ai-center mt-13">
                <div class="p2">Order Value</div>
                <div class="p2">
                  S$179
                </div>
              </div>
              <div class="flex ai-center mt-13">
                <div class="p2">Status</div>
                <div class="p2">
                  Returned
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="page-online-order-details" class="account-page hide-m">
          <div class="p4 tc pt-50 pb-50">Loading...</div>
        </div>
        <div id="page-offline-order-details" class="account-page hide-m">
          <a href="#page-offline-order" class="p2 flex ai-center" onclick="changePage('page-offline-order',event)">
            <span class="icon-back mr-5">
              {{settings.icon_btn_left}}
            </span>
            Back to offline order history
          </a>
          <div class="poo-desktop hide-m show-d">
            <table class="d-mt-30 w-full">
              <thead>
                <tr class="">
                  <th class="tl p2 d-pb-20">Item</th>
                  <th class="tl p2 d-pb-20">Colour</th>
                  <th class="tl p2 d-pb-20">Size</th>
                  <th class="tl p2 d-pb-20">Quantity</th>
                </tr>
              </thead>
              <tbody>
                <tr class="">
                  <td class="p2 d-pt-20 d-pb-20 bt-1 b-border">
                    Cotton Gabardine Jasper Pants
                  </td>
                  <td class="p2 d-pt-20 d-pb-20 bt-1 b-border">Smoke</td>
                  <td class="p2 d-pt-20 d-pb-20 bt-1 b-border">S</td>
                  <td class="p2 d-pt-20 d-pb-20 bt-1 b-border">1</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="poo-mobile hide-d mt-20">
            <div class="pb-20 bb-1 b-border">
              <div class="flex ai-center">
                <div class="p2">Item</div>
                <div class="p2">
                  Cotton Gabardine Jasper Pants
                </div>
              </div>
              <div class="flex ai-center mt-13">
                <div class="p2">Colour</div>
                <div class="p2">
                  Smoke
                </div>
              </div>
              <div class="flex ai-center mt-13">
                <div class="p2">Size</div>
                <div class="p2">
                  S
                </div>
              </div>
              <div class="flex ai-center mt-13">
                <div class="p2">Quantity</div>
                <div class="p2">
                  1
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function changePage(target,e){
    e.preventDefault();
    let clicked = e.target
    if(target == 'page-online-order-details'){
      let urlDetails = clicked.getAttribute("href")
      getDetails(urlDetails)
    }
    let theAmLink = document.querySelector('.am-link[href="#'+target+'"]')
    let theAmLinkText
    if(theAmLink){
      theAmLinkText = theAmLink.innerText
    }
    let amm = document.querySelector('.account-menu-mobile')
    let ammText = amm.querySelector('.text')
    let accountPage = document.querySelectorAll('.account-page');
    let amLink = document.querySelectorAll('.am-link');
    let thePage = document.querySelector('#'+target)
    accountPage.forEach((item) => {
      item.classList.add('hide-m')
    })
    if(theAmLink){
      amLink.forEach((item) => {
        item.classList.remove('pb-3')
        item.classList.remove('bb-1')
        item.classList.remove('b-black')
        item.classList.add('hover-underline')
      })
      theAmLink.classList.add('pb-3')
      theAmLink.classList.add('bb-1')
      theAmLink.classList.add('b-black')
      theAmLink.classList.remove('hover-underline')
      ammText.innerText = theAmLinkText
    }
    thePage.classList.remove('hide-m')
  }
  function validate(e,submit = false) {
    e.preventDefault()
    let form = e.target.closest('form')
    let error_password = 'This field is required'
    let password = form.querySelector('input[name="customer[password]"]')
    let elErrorpassword = form.querySelector('.error-password')
    let error_passwordOld = 'This field is required'
    let passwordOld = form.querySelector('input[name="customer[password_old]"]')
    let elErrorpasswordOld = form.querySelector('.error-password-old')
    let error_passwordConfirmation = 'This field is required'
    let passwordConfirmation = form.querySelector('input[name="customer[password_confirmation]"]')
    let elErrorpasswordConfirmation = form.querySelector('.error-password-confirmation')
    let submitBtn = form.querySelector('.submit-btn')
    if(password.value && passwordOld.value && passwordConfirmation.value) {
      if(password.value == passwordConfirmation.value) {
        elErrorpasswordConfirmation.classList.add('hide-m')
        elErrorpassword.classList.add('hide-m')
        elErrorpasswordOld.classList.add('hide-m')
        submitBtn.removeAttribute('disabled')
        if(submit){
          form.submit()
        }
      } else {
        submitBtn.setAttribute('disabled',true)
        error_passwordConfirmation = `Password doesn't match`
        elErrorpasswordConfirmation.innerText = error_passwordConfirmation
        elErrorpasswordConfirmation.classList.remove('hide-m')
      }
    } else {
      if(!password.value){
        elErrorpassword.innerText = error_password
        elErrorpassword.classList.remove('hide-m')
      } else {
        elErrorpassword.classList.add('hide-m')
      }
      if(!passwordOld.value){
        elErrorpasswordOld.innerText = error_passwordOld
        elErrorpasswordOld.classList.remove('hide-m')
      } else {
        elErrorpasswordOld.classList.add('hide-m')
      }
      if(!passwordConfirmation.value){
        elErrorpasswordConfirmation.innerText = error_passwordConfirmation
        elErrorpasswordConfirmation.classList.remove('hide-m')
      } else {
        elErrorpasswordConfirmation.classList.add('hide-m')
      }
      submitBtn.setAttribute('disabled',true)
    }
  }
  async function getDetails(target) {
    let req = await axios.get(target)
    let page = document.querySelector('#page-online-order-details')
    page.innerHTML = req.data
  }
</script>
{% schema %}
{
  "name": "Change Password",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "number",
      "id": "top_padding_m",
      "label": "Top padding (Mobile)"
    },
    {
      "type": "number",
      "id": "bottom_padding_m",
      "label": "Bottom padding (Mobile)"
    },
    {
      "type": "number",
      "id": "top_padding_t",
      "label": "Top padding (Tablet)"
    },
    {
      "type": "number",
      "id": "bottom_padding_t",
      "label": "Bottom padding (Tablet)"
    },
    {
      "type": "number",
      "id": "top_padding",
      "label": "Top padding (Desktop)"
    },
    {
      "type": "number",
      "id": "bottom_padding",
      "label": "Bottom padding (Desktop)"
    }
  ]
}
{% endschema %}
