{% comment %} in-good-company {% endcomment %}
{% assign el_id = 'shopify-section-' | append: section.id %}
{% render 'section-padding', section: section, el_id: el_id %}

<style>
  {%- if section.settings.mw_mobile != blank and section.settings.mw_mobile != 0 -%}
    #{{el_id}} .article-heading-wrapper {
      margin: 0 auto;
      max-width: {{ section.settings.mw_mobile }}px;
    }
  {%- endif -%}
  @media screen and (min-width: 600px) {
    {%- if section.settings.mw_tablet != blank and section.settings.mw_tablet != 0  -%}
      #{{el_id}} .article-heading-wrapper {
        margin: 0 auto;
        max-width: {{ section.settings.mw_tablet }}px;
      }
    {%- endif -%}
  }
  @media screen and (min-width: 1024px) {
    {%- if section.settings.mw_desktop != blank and section.settings.mw_desktop != 0  -%}
      #{{el_id}} .article-heading-wrapper {
        margin: 0 auto;
        max-width: {{ section.settings.mw_desktop }}px;
      }
    {%- else -%}
      #{{el_id}} .article-heading-wrapper {
        max-width: 100%;
      }
    {%- endif -%}
  }
</style>

<div class="article-heading">
  <div class="container">
    <div class="article-heading-wrapper tc">
      {%- if section.settings.title != blank -%}
        <p class="h4 c-grey pb-8 d-pb-10 uppercase">{{- section.settings.subtitle -}}</p>
      {%- endif -%}
      {%- if section.settings.title != blank -%}
        <{{ section.settings.title_dom_type }} class="{{section.settings.title_size}}">
          {{- section.settings.title -}}
        </{{ section.settings.title_dom_type }}>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Article - Heading",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "number",
      "id": "top_padding_m",
      "label": "Top padding (Mobile)",
      "default": 0
    },
    {
      "type": "number",
      "id": "bottom_padding_m",
      "label": "Bottom padding (Mobile)",
      "default": 0
    },
    {
      "type": "number",
      "id": "top_padding_t",
      "label": "Top padding (Tablet)",
      "default": 0
    },
    {
      "type": "number",
      "id": "bottom_padding_t",
      "label": "Bottom padding (Tablet)",
      "default": 0
    },
    {
      "type": "number",
      "id": "top_padding",
      "label": "Top padding (Desktop)",
      "default": 0
    },
    {
      "type": "number",
      "id": "bottom_padding",
      "label": "Bottom padding (Desktop)",
      "default": 0
    },
    {
      "type": "text",
      "id": "top_padding_hd",
      "label": "Top padding (HD)"
    },
    {
      "type": "text",
      "id": "bottom_padding_hd",
      "label": "Bottom padding (HD)"
    },
    {
      "type": "text",
      "id": "top_padding_hhd",
      "label": "Top padding (HHD)"
    },
    {
      "type": "text",
      "id": "bottom_padding_hhd",
      "label": "Bottom padding (HHD)"
    },
    {
      "type": "header",
      "content": "General Settings"
    },
    {
      "type": "select",
      "id": "title_size",
      "label": "Title Size",
      "options": [
        { "value": "h1", "label": "H1" },
        { "value": "h2", "label": "H2" },
        { "value": "h3", "label": "H3" },
        { "value": "h4", "label": "H4" },
        { "value": "p1", "label": "P1" },
        { "value": "p2", "label": "P2" }
      ]
    },
    {
      "type": "select",
      "id": "title_dom_type",
      "label": "Title DOM Type",
      "options": [
        { "value": "h1", "label": "H1" },
        { "value": "h2", "label": "H2" },
        { "value": "h3", "label": "H3" },
        { "value": "h4", "label": "H4" }
      ]
    },
    {
      "type": "number",
      "id": "mw_mobile",
      "label": "Max width mobile"
    },
    {
      "type": "number",
      "id": "mw_tablet",
      "label": "Max width tablet"
    },
    {
      "type": "number",
      "id": "mw_desktop",
      "label": "Max width desktop"
    },
    {
      "type": "textarea",
      "id": "subtitle",
      "label": "Upper text"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "Article - Heading"
    }
  ]
}
{% endschema %}
