{% comment %} Love&Co Theme {% endcomment %}
{% assign el_id = "shopify-section-" | append: section.id%}
{% render 'section-padding', section:section , el_id : el_id%}

<style>
    #shopify-section-{{ section.id }} {
    }

    #shopify-section-{{ section.id }} .education-landing-header {
        background-color:{{section.settings.background_color}};
        background-color:{{section.settings.advanced_background_color}};
        width:100%;
    }
    #shopify-section-{{ section.id }} .education-landing-body {
        width:100%;
    }
    #shopify-section-{{ section.id }} .dropdown{
        display:inline-flex;
        flex-direction: column;
        max-width:300px;
    }
    #shopify-section-{{ section.id }} .dropdown.mobile.active .dropdown-list{
        display:block;
    }
    #shopify-section-{{ section.id }} .dropdown svg{
        transition:0.3s all ease;
    }
    #shopify-section-{{ section.id }} .dropdown.active svg{
        transform:rotate(180deg);
    }
    #shopify-section-{{ section.id }} .dropdown.mobile .dropdown-item:hover{
        background:#C8E7D9;
    }
    #shopify-section-{{ section.id }} .dropdown.mobile .dropdown-list{
        position:absolute;
        width: 100%;
        top: 100%;
        left: 0;
        display:none;
        z-index:1;
        max-height:145px;
        overflow:auto;
    }
    #shopify-section-{{ section.id }} .icon svg{
        width:10px;
        height:10px;
    }
    #shopify-section-{{ section.id }} .blog-each{
        width:100%;
    }
    @media(min-width: 1024px) {
        #shopify-section-{{ section.id }} .article-title:hover{
            display:inline-block;
            position:relative;
        }
        #shopify-section-{{ section.id }} .article-title:hover::before{
            content:"";
            position:absolute;
            width:100%;
            bottom:-2px;
            border-bottom:1px solid #5EB98D;
        }
    }
    #shopify-section-{{ section.id }} .dropdown.mobile .padding-dropdown{
        padding:18px 20px;
    }

    #shopify-section-{{ section.id }} .dropdown.desktop .padding-topic{
        padding:20px;
    }
    #shopify-section-{{ section.id }} .dropdown.desktop a .padding-dropdown,
    #shopify-section-{{ section.id }} .dropdown.desktop .padding-dropdown{
        padding:7.5px 20px;
    }
    #shopify-section-{{ section.id }} .dropdown.desktop a:last-child .padding-dropdown{
        padding:7.5px 20px 20px 20px;
    }
    
    @media(min-width: 768px) {
        #shopify-section-{{ section.id }} .blog-each{
            width:50%;
        }
        #shopify-section-{{ section.id }} .flex-wrapper{
            margin:0 -10px;
        }
    }

    #shopify-section-{{ section.id }} .dropdown.mobile{
        
    }
    #shopify-section-{{ section.id }} .dropdown.desktop{
        display:none !important;
    }

    @media(min-width: 1024px) {
        #shopify-section-{{ section.id }} .dropdown.mobile{
            display:none !important;
        }
        #shopify-section-{{ section.id }} .dropdown.desktop{
            display:inline-flex !important;
        }

        #shopify-section-{{ section.id }} .font-15-desktop{
            font-size:15px;
        }
        #shopify-section-{{ section.id }} .sticky-container{
            position:sticky;
            top:55%;
            transform:translate(0,-50%);
        }
        

        #shopify-section-{{ section.id }} .education-landing-header {
            width:450px;
            min-height:100vh;
            {% comment %} display:flex;
            align-items:center; {% endcomment %}
        }
        #shopify-section-{{ section.id }} .desktop-sticky {
            position:sticky;
            top:150px;
        }
        #shopify-section-{{ section.id }} .education-landing-body {
            width:calc(100% - 450px);
        }
    }
    @media(min-width: 1400px) {
        #shopify-section-{{ section.id }} .education-landing-header {
            width:530px;
        }
        #shopify-section-{{ section.id }} .education-landing-body {
            width:calc(100% - 530px);
        }
        #shopify-section-{{ section.id }} .font-15-desktop{
            font-size:18px;
        }
    }

</style>

<section id="{{ section.id }}" class="education-landing">
    <div class="flex flex-wrap">
        <div class="education-landing-header pt-40 pb-40 d-pt-0 d-pb-0 relative">
            <div class="container sticky-container">
                {% comment %} <div class="p3 c-darkgreen bold-600 tc spacing-2">{{section.settings.small_title}}</div> {% endcomment %}
                <div class="">
                    <div class="pb-10 d-pb-0">
                        {%if section.settings.title != blank%}
                            <{{ section.settings.title_dom_type }} class="h4 tc">{{section.settings.title | newline_to_br }}</{{ section.settings.title_dom_type }}>
                        {%endif%}
                        {%if section.settings.text != blank%}
                            <div class="p2 tc c-grey pt-10 d-pt-0 t-max-350 d-max-550 mx-auto">{{section.settings.text}}</div>
                        {%endif%}
                    </div>
                    <div class="pt-10 d-pt-30 flex jc-center">
                        <!--mobile-->
                        <div class="dropdown cursor relative width-100 mobile">
                            <div onclick="openDropdown()" class="h11 padding-dropdown c-grey bg-white flex jc-between ai-center"><span class="choosen-text uppercase p3 bold-600 spacing-2">SELECT A TOPIC</span><span class="icon ml-15">{{ settings.icon_select }}</span></div>
                            <div class="dropdown-list">
                                {%for block in section.blocks%}
                                    <a href="#{{block.settings.blog.title | downcase | replace: ' ', '-'}}" onclick="document.getElementById('#{{block.settings.blog.title | downcase | replace: ' ', '-'}}').scrollIntoView({ behavior: 'smooth', block: 'center' });openDropdown()">
                                        <div class="h11 padding-dropdown uppercase bg-lightgrey dropdown-item">{{block.settings.blog.title}}</div>
                                    </a>
                                {%endfor%}
                            </div>
                        </div>
                        <!--desktop-->
                        <div class="dropdown relative width-100 desktop">
                            <div onclick="openDropdown()" class="h11 padding-topic c-grey bg-white tc jc-between ai-center"><span class="choosen-text uppercase p3 bold-600 spacing-2">SELECT A TOPIC</span>
                                {% comment %} <span class="icon ml-15">{{ settings.icon_select }}</span> {% endcomment %}
                            </div>
                            <div class="dropdown-list">
                                {%for block in section.blocks%}
                                    <a href="#{{block.settings.blog.title | downcase | replace: ' ', '-'}}" data-block="{{block.settings.blog.title | downcase | replace: ' ', '-'}}" onclick="document.querySelector('.{{block.settings.blog.title | downcase | replace: ' ', '-'}} .border-wrapper').scrollIntoView({ behavior: 'smooth', block: 'center' });">
                                        <div onclick="toggleActiveColor('event')" class="h11 padding-dropdown uppercase bg-white tc dropdown-item">{{block.settings.blog.title}}</div>
                                    </a>
                                {%endfor%}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="education-landing-body">
            <div class="container">
                <div class="flex flex-wrap flex-wrapper">
                    {%for block in section.blocks%}
                        <div class="blog-each pt-40 t-pt-60 t-pl-10 t-pr-10 {%if forloop.last%}pb-40 t-pb-60{%endif%} {{block.settings.blog.title | downcase | replace: ' ', '-'}}" id="#{{block.settings.blog.title | downcase | replace: ' ', '-'}}">
                            <div class="border-wrapper">
                            {%- render 'global-image-wrapper',
                                image: block.settings.image,
                                additional_class:""
                            %}
                            </div>
                            <div class="p3 c-darkgreen bold-600 uppercase tc t-tl spacing-2 pt-25 pb-5">{{block.settings.blog.title}}</div>
                            <!--{{block.settings.blog.articles_count}}-->
                            {%for article in block.settings.blog.articles%}
                                <a href="{{article.url}}">
                                    <div class="p1 bold-500 tc t-tl pt-10 article-title font-15-desktop">{{article.title}}</div>
                                </a>
                            {%endfor%}
                        </div>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function openDropdown(){
        document.querySelector("#shopify-section-{{ section.id }} .dropdown").classList.toggle("active");
    }
    function toggleActiveColor(string){
        if(document.querySelector("#shopify-section-{{ section.id }} .dropdown-item.c-darkgreen")){
            document.querySelector("#shopify-section-{{ section.id }} .dropdown-item.c-darkgreen").classList.remove("c-darkgreen");
        }
        event.target.closest(".dropdown-item").classList.add("c-darkgreen");

        if(document.querySelector("#shopify-section-{{ section.id }} .b-2.b-darkgreen")){
            document.querySelector("#shopify-section-{{ section.id }} .b-2.b-darkgreen").classList.remove("b-2","b-darkgreen");
        }
        document.querySelector("." + event.target.closest("a").getAttribute("data-block")).querySelector(".border-wrapper").classList.add("b-2","b-darkgreen");
    }
</script>

{% schema %}
    {
        "name": "Education Landing",
        "settings": [
        {
            "type": "color",
            "id": "background_color",
            "label": "Background Color"
        },
        {
            "type": "text",
            "id": "advanced_background_color",
            "label": "Advanced Background Color"
        },
        {
			"type": "select",
			"id": "title_dom_type",
			"label": "Title DOM Type",
			"options": [
				{"value":"h1","label":"H1"},
				{"value":"h2","label":"H2"},
				{"value":"h3","label":"H3"},
				{"value":"h4","label":"H4"},
				{"value":"h5","label":"H5"}
			],
			"default": "h4"
		},
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "textarea",
            "id": "text",
            "label": "Text"
        }
        ],
        "blocks": [
            {
                "type": "entry",
                "name": "Entry",
                "settings": [
                    {
                        "type": "blog",
                        "id": "blog",
                        "label": "Blog"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    }
                ]
            }
        ],
        "presets": [
        {
            "name": "Education Landing",
            "blocks": []
        }
        ]
    }
{% endschema %}
