{% liquid
  assign el_id = 'ig-feed-' | append: section.id
  assign ss = section.settings
  assign sb = section.blocks
  render 'section-padding', el_id: el_id, section: section
%}
<style>
  #{{el_id}} .swiper {
    overflow: visible!important;
    clip-path: inset(-100vw -100vw -100vw -100vw);
  }
  #{{el_id}} .swiper-grid-arrow,
  #{{el_id}} .swiper-grid-arrow svg {
    width: 36px;
    height: 36px;
  }
  #{{el_id}} .btn-if {
    width: 100%;
    cursor: pointer;
  }
  #{{el_id}}-popup {
    visibility: hidden;
    position: fixed;
    opacity: 0;
    transition: all .3s ease;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  #{{el_id}}-popup.show {
    visibility: visible;
    display: flex;
    opacity: 1;
  }
  #{{el_id}}-popup .if-popup-overlay {
    background: #0D0D0D;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition: all .5s ease;
  }
  #{{el_id}}-popup.show .if-popup-overlay {
    opacity: .5;
  }
  #{{el_id}}-popup .if-popup-box {
    transition: all .5s ease;
    opacity: 0;
  }
  #{{el_id}}-popup.show .if-popup-box {
    opacity: 1;
  }
  #{{el_id}}-popup .ifp-heading {

  }
  #{{el_id}}-popup .ifp-heading .close,
  #{{el_id}}-popup .ifp-heading .close svg{
    width: 8px;
    height: 8px;
    cursor: pointer;
  }
  #{{el_id}}-popup .sl-icon{
    width: 12px;
    height: 12px;
  }
  #{{el_id}}-popup .sl-icon-right,
  #{{el_id}}-popup .sl-icon-right svg{
    width: 8px;
    height: 8px;
  }
  #{{el_id}}-popup .sl-icon-right svg *{
    stroke: #0D0D0D;
  }
  @media screen and (min-width: 1024px) {
    #{{el_id}} .btn-if {
      width: auto;
    }
    #{{el_id}}-popup .sl-icon{
      width: 16px;
      height: 16px;
    }
  }
</style>
<div id="{{el_id}}" class="overflow pt-60 pb-60">
  <div class="container">
    <div class="if-heading flex ai-center jc-between">
      <{{ section.settings.title_dom_type }} class="{{ section.settings.title_size }} c-black">
        {{ section.settings.title }}
      </{{ section.settings.title_dom_type }}>
      <div class="swiper-nav d-flex ai-center hide-m">
        <div class="swiper-grid-arrow left mr-12">{{ settings.icon_slide_left }}</div>
        <div class="swiper-grid-arrow right">{{ settings.icon_slide_right }}</div>
      </div>
    </div>
    <div class="swiper d-mt-48 mt-40">
      <div class="swiper-wrapper">
        {% for block in sb %}
          {% if block.type == 'image' %}
            {% assign bs = block.settings %}
            <div class="swiper-slide">
              <a href="{{bs.url}}" target="_blank">
                {% assign image_id = 'fi-' | append: block.id %}
                {%- render 'global-image-wrapper', image: bs.image, additional_class: 'no-bg', image_id: image_id %}
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="tc d-mt-60 mt-40">
      <a href="#" rel="nofollow" class="btn1 btn-if" @click="toggleIgfPopup($event)">{{ ss.btn_label }}</a>
    </div>
  </div>
  <Teleport to="body">
    <div class="if-popup zi-5 flex ai-center jc-center" id="{{el_id}}-popup">
      <div class="if-popup-overlay zi-1" @click="toggleIgfPopup($event)"></div>
      <div class="container w-full flex ai-center jc-center">
        <div class="if-popup-box max-440 w-full bg-white d-pt-28 d-pb-12 d-pl-24 d-pr-24 p-20 pb-0 zi-2">
          <div class="ifp-heading flex ai-center jc-between">
            <h3 class="h3">{{ ss.popup_title }}</h3>
            <span class="close flex ai-center jc-center" @click="toggleIgfPopup($event)">{{ settings.icon_close }}</span>
          </div>
          <div class="ifp-lists d-mt-16 mt-4">
            {% for block in sb %}
              {% if block.type == 'social_link' %}
                {% assign bs = block.settings %}
                <a
                  href="{{bs.url}}"
                  target="_blank"
                  class="c-black ifp-list flex ai-center jc-between d-pt-16 d-pb-16 pt-24 pb-24 {% unless forloop.last == true %}bb-1 b-border{% endunless %}"
                >
                  <div class="flex ai-center">
                    <div class="sl-icon mr-12">
                      {% assign image_id = 'sl-' | append: block.id %}
                      {%- render 'global-image-wrapper',
                        image: bs.icon,
                        additional_class: 'no-bg',
                        image_id: image_id
                      %}
                    </div>
                    <span class="p3 uppercase spacing-1 c-black">{{ bs.title }}</span>
                  </div>
                  <div class="sl-icon-right font-0">
                    {{ settings.icon_btn_right }}
                  </div>
                </a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </Teleport>
</div>
<script>
  {% assign fn = section.id | replace: '-', '' %}
  let igFeed{{fn}} = Vue.createApp({
    delimiters: ['${', '}'],
    data() {
      return {};
    },
    mounted() {
      this.initSwiperIgf();
      document.addEventListener('shopify:section:load', () => {
        this.initSwiperIgf();
      });
    },
    methods: {
      initSwiperIgf() {
        new Swiper('#{{ el_id }} .swiper', {
          slidesPerView: 2,
          slidesPerColumn: 2,
          spaceBetween: 10,
          loop: true,
          breakpoints: {
            1024: {
              slidesPerView: 4,
              slidesPerColumn: 4,
              spaceBetween: 16,
            },
          },
          navigation: {
            nextEl: '#{{ el_id }} .swiper-grid-arrow.right',
            prevEl: '#{{ el_id }} .swiper-grid-arrow.left',
          },
          on: {
            init: function () {
              $360.lazyLoadInstance.update();
            },
            slideChange: function () {
              $360.lazyLoadInstance.update();
            },
            resize: function () {
              $360.lazyLoadInstance.update();
            },
          },
        });
      },
      toggleIgfPopup(e) {
        e.preventDefault();
        let popup = document.querySelector('#{{el_id}}-popup');
        let body = document.querySelector('body');
        popup.classList.toggle('show');
        body.classList.toggle('overflow');
      },
    },
  });

  igFeed{{fn}}.mount('#{{el_id}}');
</script>
{% schema %}
{
  "name": "Ig Feed",
  "settings": [
    {
      "type": "textarea",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "select",
      "id": "title_dom_type",
      "label": "Title DOM Type",
      "options": [
        { "value": "h1", "label": "H1" },
        { "value": "h2", "label": "H2" },
        { "value": "h3", "label": "H3" },
        { "value": "h4", "label": "H4" },
        { "value": "h5", "label": "H5" }
      ],
      "default": "h2"
    },
    {
      "type": "select",
      "id": "title_size",
      "label": "Title Size",
      "options": [
        { "value": "h1", "label": "H1" },
        { "value": "h2", "label": "H2" },
        { "value": "h3", "label": "H3" },
        { "value": "h4", "label": "H4" },
        { "value": "h5", "label": "H5" },
        { "value": "h6", "label": "H6" },
        { "value": "h7", "label": "H7" },
        { "value": "h8", "label": "H8" },
        { "value": "h9", "label": "H9" }
      ]
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Button Label"
    },
    {
      "type": "textarea",
      "id": "popup_title",
      "label": "Popup Title"
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "select",
      "id": "top_padding_m",
      "label": "Top padding (Mobile)",
      "options": [
          {"value":"nopadding","label":"No padding"},
          {"value":"small","label":"Small"},
          {"value":"medium","label":"Medium"},
          {"value":"large","label":"Large"}
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "bottom_padding_m",
      "label": "Bottom padding (Mobile)",
      "options": [
          {"value":"nopadding","label":"No padding"},
          {"value":"small","label":"Small"},
          {"value":"medium","label":"Medium"},
          {"value":"large","label":"Large"}
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "top_padding_t",
      "label": "Top padding (Tablet)",
      "options": [
          {"value":"nopadding","label":"No padding"},
          {"value":"small","label":"Small"},
          {"value":"medium","label":"Medium"},
          {"value":"large","label":"Large"}
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "bottom_padding_t",
      "label": "Bottom padding (Tablet)",
      "options": [
          {"value":"nopadding","label":"No padding"},
          {"value":"small","label":"Small"},
          {"value":"medium","label":"Medium"},
          {"value":"large","label":"Large"}
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "top_padding",
      "label": "Top padding (Desktop)",
      "options": [
          {"value":"nopadding","label":"No padding"},
          {"value":"small","label":"Small"},
          {"value":"medium","label":"Medium"},
          {"value":"large","label":"Large"}
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "bottom_padding",
      "label": "Bottom padding (Desktop)",
      "options": [
          {"value":"nopadding","label":"No padding"},
          {"value":"small","label":"Small"},
          {"value":"medium","label":"Medium"},
          {"value":"large","label":"Large"}
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "top_padding_hd",
      "label": "Top padding (HD)",
      "options": [
          {"value":"nopadding","label":"No padding"},
          {"value":"small","label":"Small"},
          {"value":"medium","label":"Medium"},
          {"value":"large","label":"Large"}
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "bottom_padding_hd",
      "label": "Bottom padding (HD)",
      "options": [
          {"value":"nopadding","label":"No padding"},
          {"value":"small","label":"Small"},
          {"value":"medium","label":"Medium"},
          {"value":"large","label":"Large"}
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "top_padding_hhd",
      "label": "Top padding (HHD)",
      "options": [
          {"value":"nopadding","label":"No padding"},
          {"value":"small","label":"Small"},
          {"value":"medium","label":"Medium"},
          {"value":"large","label":"Large"}
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "bottom_padding_hhd",
      "label": "Bottom padding (HHD)",
      "options": [
          {"value":"nopadding","label":"No padding"},
          {"value":"small","label":"Small"},
          {"value":"medium","label":"Medium"},
          {"value":"large","label":"Large"}
      ],
      "default": "medium"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link Url"
        }
      ]
    },
    {
      "type": "social_link",
      "name": "Social Media Link",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Link Label"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link Url"
        }
      ]
    }
  ],
  "presets": [{ "name": "Ig Feed", "blocks": [] }]
}
{% endschema %}
