{% comment %} in-good-company {% endcomment %}
{% assign el_id = 'shopify-section-' | append: section.id %}
{% render 'section-padding', section: section, el_id: el_id %}

<style>
  #{{ el_id }} {
    background-color: {{ section.settings.bg_color }};
  }
  #{{el_id}} .membership-tiers-single {
    width:100%;
  }
  #{{el_id}} .membership-tiers-single li {
    list-style: initial;
  }
  @media screen and (min-width: 1024px) {
    #{{el_id}} .membership-tiers-single {
      width:calc(50% - 25px);
    }
    #{{el_id}} .membership-tiers-single:nth-child(odd) {
      margin-right: 50px;
    }
  }
</style>

<div class="membership-tiers">
  <div class="container">
    <div class="row">
      <div class="global-flex flex-wrap">
        <div class="col-12 col-d-3">
          <{{ section.settings.title_dom_type }} class="{{section.settings.title_size}} pb-30 c-black">
            {{- section.settings.title -}}
          </{{ section.settings.title_dom_type }}>
        </div>
        <div class="col-12 col-d-8 global-flex flex-wrap">
          {%- for block in section.blocks -%}
            <div class="membership-tiers-single pt-30 pl-30 pr-40 pb-35 bg-white mb-20">
              <p class="h3 semibold-600 pb-15 d-pb-10">{{ block.settings.title }}</p>
              <p class="p2 rte">{{ block.settings.content }}</p>
            </div>
          {%- endfor -%}
          <p class="p2 c-grey">{{ section.settings.disc }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Membership Tiers",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "number",
      "id": "top_padding_m",
      "label": "Top padding (Mobile)",
      "default": 0
    },
    {
      "type": "number",
      "id": "bottom_padding_m",
      "label": "Bottom padding (Mobile)",
      "default": 0
    },
    {
      "type": "number",
      "id": "top_padding_t",
      "label": "Top padding (Tablet)",
      "default": 0
    },
    {
      "type": "number",
      "id": "bottom_padding_t",
      "label": "Bottom padding (Tablet)",
      "default": 0
    },
    {
      "type": "number",
      "id": "top_padding",
      "label": "Top padding (Desktop)",
      "default": 0
    },
    {
      "type": "number",
      "id": "bottom_padding",
      "label": "Bottom padding (Desktop)",
      "default": 0
    },
    {
      "type": "text",
      "id": "top_padding_hd",
      "label": "Top padding (HD)"
    },
    {
      "type": "text",
      "id": "bottom_padding_hd",
      "label": "Bottom padding (HD)"
    },
    {
      "type": "text",
      "id": "top_padding_hhd",
      "label": "Top padding (HHD)"
    },
    {
      "type": "text",
      "id": "bottom_padding_hhd",
      "label": "Bottom padding (HHD)"
    },
    {
      "type": "header",
      "content": "General Settings"
    },
    {
      "type": "select",
      "id": "title_dom_type",
      "label": "Title DOM Type",
      "options": [
        { "value": "h1", "label": "H1" },
        { "value": "h2", "label": "H2" },
        { "value": "h3", "label": "H3" },
        { "value": "h4", "label": "H4" },
        { "value": "h5", "label": "H5" }
      ],
      "default": "h2"
    },
    {
      "type": "select",
      "id": "title_size",
      "label": "Title Size",
      "options": [
        { "value": "h1", "label": "H1" },
        { "value": "h2", "label": "H2" },
        { "value": "h3", "label": "H3" },
        { "value": "h4", "label": "H4" },
        { "value": "h5", "label": "H5" },
        { "value": "h6", "label": "H6" },
        { "value": "h7", "label": "H7" }
      ],
      "default": "h2"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "textarea",
      "id": "disc",
      "label": "Disclaimer"
    }
  ],
  "blocks": [
    {
      "type": "entry",
      "name": "Entry",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Membership Tiers"
    }
  ]
}
{% endschema %}
