{% comment %} JCO Template - Refinements Adi on progress {% endcomment %}
{%- if section.blocks.size > 0 -%}
    {%- assign el_id = 'pl-' | append: section.id -%}
    {%- render 'section-padding', el_id: el_id, section: section -%}
    {% assign ss = section.settings %}
    <style>
      #{{ el_id }} .link{
          opacity:0.4;
      }
      #{{ el_id }} .link.active{
          opacity:1;
      }
      #{{ el_id }} .buttons svg{stroke:var(--black);}
      #{{el_id}} .content-loading {
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: none;
          justify-content: center;
          align-items: center;
      }
      #{{el_id}} .content-loading img {
          width: 50px;
      }
      #{{el_id}} .links {
          white-space: nowrap;
          overflow: auto;
          width: calc(100% + 40px);
          margin-left: -20px;
      }
      #{{el_id}} .links a:last-child::after {
          content: '';
          position: absolute;
          width: 25px;
          height: 100%;
          right: -25px;
          top: 0;
      }
      #{{el_id}} .links * {
          -ms-overflow-style: none;
          scrollbar-width: none;
          scrollbar-color: transparent transparent;
      }
      #{{el_id}} .links::-webkit-scrollbar {
          width: 0;
          height: 0;
      }
      #{{el_id}} .thebtn {
        white-space: nowrap;
      }
      #{{el_id}} .product-tabbed-list-wrapper {
        width: calc(50% - 7.5px);
      }
        #{{el_id}} .product-tabbed-list-inner{
            gap:15px;
        }
  
      @media screen and (min-width: 600px) {
          #{{el_id}} .links {
              width: calc(100% + 60px);
              margin-left: -25px;
          }
          #{{el_id}} .links a:last-child::after {
              width: 30px;
              right: -30px;
          }
      }
  
      @media screen and (min-width: 1024px) {
        #{{el_id}} .links {
            width: auto;
            margin-left: 0;
        }
        #{{el_id}} .links a:last-child::after {
            display: none;
        }
        #{{el_id}} .product-tabbed-list-wrapper {
          width: calc(25% - 12px);
        }
        #{{el_id}} .product-tabbed-list-inner{
            gap:16px;
        }
      }

    </style>
    <div id="{{ el_id }}" class="overflow" style="background-color:{{ ss.bg_color }};">
      {% if section.settings.top_display == "true" %}
        <div class="top">
          <div class="container">
            <div class="flex ai-center jc-between w-full">
              <{{ ss.title_dom_type }} class="{{ss.title_size}} tcs-title">
                {{- ss.title -}}
              </{{ ss.title_dom_type }}>
              {% comment %} <div class="buttons d-flex d-ai-center">
                {% if ss.button_label != blank %}
                  {% assign collection = section.blocks[0].settings.collection %}
                  <a href="{{ collection.url }}" class="btn3 button thebtn">{{ ss.button_label }}</a>
                {% endif %}
              </div> {% endcomment %}
            </div>
            <div class="links pt-20 hhd-pt-30 {% if section.blocks.size > 1 %}pb-20 hhd-pb-30{% endif %}">
              {%- if section.blocks.size > 1 -%}
                {%- for block in section.blocks -%}
                  {%- assign collection = block.settings.collection -%}
                  <a
                    href="{{ collection.url }}"
                    rel="nofollow"
                    class="regular-400 h2 c-black relative {% if forloop.first %}active ml-20 t-ml-25 d-ml-0{% endif %} link mr-16 d-mr-28"
                  >
                    {{- block.settings.title -}}
                  </a>
                {%- endfor -%}
              {%- else -%}
                {%- assign block = section.blocks | first -%}
                {%- assign collection = block.settings.collection -%}
                <h5 class="p1 ml-15 t-ml-25 d-ml-0">{{ block.settings.title }}</h5>
              {%- endif -%}
            </div>
          </div>
        </div>
      {% endif %}
      <div class="container relative">
        <div class="content product-tabbed-list-content">
          <div class="products">
            <div class="product-tabbed-list-inner flex flex-wrap">
              {%- assign block = section.blocks | first -%}
              {%- assign collection = block.settings.collection -%}
              {%- for product in collection.products limit: 8 -%}
                <div class="product-tabbed-list-wrapper">
                  {% render 'product-each', product: product %}
                </div>
              {%- endfor -%}
            </div>
          </div>
          <div class="content-loading absolute">
            <img
              src="https://cdn.shopify.com/s/files/1/0057/0189/4257/files/Pink-Rolling_2x-1.0s-200px-200px.gif?v=1716198104"
              alt="Loading"
            >
          </div>
        </div>
        {% if ss.button_label != blank %}
            <div class="buttons flex jc-center mt-40 d-mt-60">
                {% assign collection = section.blocks[0].settings.collection %}
                <a href="{{ collection.url }}" class="btn1 button thebtn tc w-full d-w-auto">{{ ss.button_label }}</a>
            </div>
        {% endif %}
      </div>
    </div>
    <script>
      {%- assign function_name = el_id | replace: '-', '_' | truncate: 34, '' -%}
  
      function reInitTab{{ function_name }}() {
          let links = document.getElementById("{{ el_id }}").querySelectorAll(".link");
          for (let i = 0; i < links.length; i++) {
              links[i].onclick = function(e) {
                  e.preventDefault();
                  e.stopPropagation();
                  let target = links[i].getAttribute("href");
                  let productTabbedListInner = document.getElementById("{{ el_id }}").querySelector(".product-tabbed-list-inner");
                  let productTabbedListContent = document.getElementById("{{ el_id }}").querySelector(".product-tabbed-list-content");
                  let link = document.getElementById("{{ el_id }}").querySelector(".active");
                  let button = document.getElementById("{{ el_id }}").querySelector(".button");
                  let loading = document.getElementById("{{ el_id }}").querySelector(".content-loading");
                  let carouselHeight = productTabbedListInner.clientHeight;
  
                  link.classList.remove("active");
                  links[i].classList.add("active");
  
                  if (button != null) {
                      button.setAttribute("href", target);
                  }
                  
                  productTabbedListContent.style.minHeight = carouselHeight + "px";
                  loading.style.display = 'inline-flex';
                  productTabbedListInner.innerHTML = '';
  
                  
                  axios.get(`${target}?view=collection-tabbed`)
                      .then(function(response) {
                          let collectionList = response.data;
                          productTabbedListInner.innerHTML = collectionList;
                          $360.lazyLoadInstance.update();
                          productTabbedListContent.style.minHeight = 0;
                          loading.style.display = 'none';
                          _swat.initializeActionButtons('.product-tabbed-list-inner');
                      })
                      .catch(function(error) {
                          console.log(error);
                      });
              }
          }
      }
  
      document.addEventListener("DOMContentLoaded", () => {
          reInitTab{{ function_name }}();
      });
  
      document.addEventListener('shopify:section:load', () => { 
          reInitTab{{ function_name }}();
      });
  </script>
  
  {%- endif -%}
  {% schema %}
  {
    "name": "Product List - Tabbed",
    "settings": [
      {
        "type": "header",
        "content": "Section Padding"
      },
      {
        "type": "select",
        "id": "top_padding_m",
        "label": "Top padding (Mobile)",
        "options": [
            {"value":"nopadding","label":"No padding"},
            {"value":"small","label":"Small"},
            {"value":"medium","label":"Medium"},
            {"value":"large","label":"Large"}
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "bottom_padding_m",
        "label": "Bottom padding (Mobile)",
        "options": [
            {"value":"nopadding","label":"No padding"},
            {"value":"small","label":"Small"},
            {"value":"medium","label":"Medium"},
            {"value":"large","label":"Large"}
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "top_padding_t",
        "label": "Top padding (Tablet)",
        "options": [
            {"value":"nopadding","label":"No padding"},
            {"value":"small","label":"Small"},
            {"value":"medium","label":"Medium"},
            {"value":"large","label":"Large"}
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "bottom_padding_t",
        "label": "Bottom padding (Tablet)",
        "options": [
            {"value":"nopadding","label":"No padding"},
            {"value":"small","label":"Small"},
            {"value":"medium","label":"Medium"},
            {"value":"large","label":"Large"}
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "top_padding",
        "label": "Top padding (Desktop)",
        "options": [
            {"value":"nopadding","label":"No padding"},
            {"value":"small","label":"Small"},
            {"value":"medium","label":"Medium"},
            {"value":"large","label":"Large"}
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "bottom_padding",
        "label": "Bottom padding (Desktop)",
        "options": [
            {"value":"nopadding","label":"No padding"},
            {"value":"small","label":"Small"},
            {"value":"medium","label":"Medium"},
            {"value":"large","label":"Large"}
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "top_padding_hd",
        "label": "Top padding (HD)",
        "options": [
            {"value":"nopadding","label":"No padding"},
            {"value":"small","label":"Small"},
            {"value":"medium","label":"Medium"},
            {"value":"large","label":"Large"}
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "bottom_padding_hd",
        "label": "Bottom padding (HD)",
        "options": [
            {"value":"nopadding","label":"No padding"},
            {"value":"small","label":"Small"},
            {"value":"medium","label":"Medium"},
            {"value":"large","label":"Large"}
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "top_padding_hhd",
        "label": "Top padding (HHD)",
        "options": [
            {"value":"nopadding","label":"No padding"},
            {"value":"small","label":"Small"},
            {"value":"medium","label":"Medium"},
            {"value":"large","label":"Large"}
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "bottom_padding_hhd",
        "label": "Bottom padding (HHD)",
        "options": [
            {"value":"nopadding","label":"No padding"},
            {"value":"small","label":"Small"},
            {"value":"medium","label":"Medium"},
            {"value":"large","label":"Large"}
        ],
        "default": "medium"
      },
      {
        "type": "header",
        "content": "General Settings"
      },
      {
        "type": "textarea",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "radio",
        "id": "top_display",
        "label": "Top area (title and arrows) display setting",
        "options": [
          {
            "value": "true",
            "label": "Display"
          },
          {
            "value": "false",
            "label": "Hide"
          }
        ]
      },
      {
        "type": "select",
        "id": "title_dom_type",
        "label": "Title DOM Type",
        "options": [
          { "value": "h1", "label": "H1" },
          { "value": "h2", "label": "H2" },
          { "value": "h3", "label": "H3" },
          { "value": "h4", "label": "H4" },
          { "value": "h5", "label": "H5" }
        ],
        "default": "h1"
      },
      {
        "type": "radio",
        "id": "title_size",
        "label": "Title Size",
        "options": [
          { "value": "h1", "label": "H1" },
          { "value": "h2", "label": "H2" },
          { "value": "h3", "label": "H3" },
          { "value": "h4", "label": "H4" },
          { "value": "h5", "label": "H5" }
        ]
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Product List - Tabbed",
        "blocks": []
      }
    ]
  }
  {% endschema %}
  